body {
  background-color: #cbb2e2;
  font-family: 'Georgia', serif;
  text-align: justify;
  padding: 30px;
  margin-inline: 13px;
}
h1 {
  color: #9b0f05;
  text-align: center;
}

.btn-GoBackHome {
    display: inline;
    font-size: 18px;
    font-style: normal;
    color: #d3335b;
    background-color: rgb(11, 218, 87);
    border-radius: 10px;
    margin-top: 23px;
    padding: 15px 26px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #888;
  font-size: 14px;
}

