.hero {
     display: flex;
     min-height: calc(100vh-70px);
     overflow: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    flex direction: column;

    position: relative;
    z-index: 5
}

.hero-image img {
    width: 100px;
    height: 90px;
    object-fit: contain;
}

.hero-image__overlay {
    position: absolute;
    width: 100%;
    inset: 0;

    background-color: blanchedalmond;
    z-index: -1;
}