.hero {
  background-color: #3887c9;
  color: #5c0a0a;
  text-align: center;
  padding: 50px 20px;
}
.hero {
  background-color: #242424;
  color: #d32c2c;
  text-align: center;
  padding: 50px 20px;

  background-image: url('../assets/image/food.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-order {
  display: inline-block;
  padding: 12px 24px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.btn-order:hover {
  background-color: #218838;
}

.hero-image img {
    width: 100px;
    height: 90px;
    object-fit: contain;
}

.hero-image__overlay {
    position: absolute;
    width: 100%;
    inset: 0;

    background-color: blanchedalmond;
    z-index: -1;
}